/* GLOBAL */

* {
    margin: 0;
    padding: 0;
    text-align: left;
    font-family: 'Funnel Display', sans-serif;
}

html {
    background-color: rgb(44, 44, 44);
}

#container {
    margin: 0 auto;
    max-width: 35rem;
    background: white;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.5rem;
    border-bottom: 1px solid grey;
    position: sticky;
}

#wrapper {
    display: flex;
    flex-direction: column;
    background: white;
}

.separator {
    background: #c6c6c6;
    height: 2rem;
}

#user-profile {
    height: 2.125rem;
    border-radius: 100%;
}

.user {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

#user-name,
#user-location {
    text-align: left;
}

.poster-profile {
    height: 2.125rem;
    border-radius: 100%;
}

#user-name {
    font-weight: 900;
}

.user-upload-image {
    width: 100%;
    background-size: cover;
}

.actions {
    display: flex;
    flex-direction: row;
    margin: 1rem;
    gap: 1rem;
}

.action-logo {
    width: 2rem;
}

#count {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem 1rem;
}

#comment {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem 1rem 1.5rem 1rem;
}

.heavy-font {
    font-weight: 900;
}

.like-btn:hover {
    background-image: url('./assets/icons/like-hover.svg');
    width: 2rem;
    background-repeat: no-repeat;
    background-size: cover;
}
