* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, sans-serif;
    background: #303030;
    color: #ffffee;
    position: relative;
    height: 90vh;
}

div {
    margin-left: 2rem;
    margin-top: 4rem;
}

svg {
    width: 5%;
    margin-bottom: 3rem;
}

h1 {
    font-size: 3rem;
    padding-bottom: 1.5rem;
}

ol {
    padding-left: 1.75rem;
    font-size: 1.5rem;
}

li {
    padding-bottom: 0.75rem;
}

footer {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    padding: 3rem;
}
