* {
    margin: 0;
    font-family: Happy Monkey, sans-serif;
}

body {
    background: rgb(103, 103, 103);
}

#card-wrapper {
    display: block;
    margin: 0 auto;
    margin-top: 150px;
    text-align: center;
    background-color: rgb(200, 32, 32);
    max-width: 30%;
    padding: 2%;
    border-radius: 30px;
    box-shadow: 0px 0px 8px rgb(45, 45, 45);
}

#photo {
    max-width: 80%;
    border-radius: 100%;
    border: 15px solid rgb(255, 255, 255);
    margin-block: 5%;
    box-shadow: 0px 0px 8px rgb(45, 45, 45);
}

.card-text {
    background: rgb(255, 255, 255);
    color: rgb(51, 51, 51);
    max-width: fit-content;
    display: flex;
    flex-direction: column;
    justify-self: center;
    margin-block: 20px;
    border-radius: 100px;
    padding-inline: 50px;
    padding-block: 20px;
    box-shadow: 0px 0px 8px rgb(45, 45, 45);
}

#promo-vid {
    margin-block: 50px;
}
