* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background: #303030;
    color: #ffffee;
    position: relative;
    height: 90vh;
}

svg {
    width: 48px;
    height: 48px;
}

h1 {
    font-size: 3rem;
    padding-bottom: 1.5rem;
}

.fact-list {
    padding-left: 0.5rem;
    font-size: 1.5rem;
}

.fact-item {
    padding-bottom: 0.75rem;
    list-style-type: none;
    display: flex;
    align-items: center;
}

.fact-item::before {
    content: '';
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 50%;
    background: rgb(88, 196, 220);
    margin-right: 1rem;
}

footer {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    padding: 3rem;
}

.header {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    align-items: center;
    justify-content: space-between;
    padding-block: 2rem;
    padding-inline: 2rem;
    background: #404040;
    color: rgb(88, 196, 220);
    border-bottom: 1px solid rgba(88, 196, 220, 0.25);
}

.logo {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.logo span {
    padding: 0;
    margin: 0;
    font-size: 2rem;
    font-weight: 400;
}

.menu-list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    font-size: 1rem;
}

.menu-list li {
    margin: 0;
    padding: 0.5rem 1rem;
    border-radius: 3rem;
    background: rgb(88, 196, 220);
    color: #303030;
    cursor: pointer;
}

.menu-list li:hover {
    background: #eefdff;
    color: #303030;
    transition: ease-in-out, 0.3s;
}

.main-content {
    padding: 2rem;
}

main {
    background-image: url('');
}

.footer {
    background: #404040;
    color: rgb(88, 196, 220);
    width: 100%;
    border-top: 1px solid rgba(88, 196, 220, 0.25);
}
