* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background: #eeeeee;
}

header {
    background: rgb(222, 50, 50);
    padding: 1rem;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.nav-title {
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    color: white;
}

.globe-icon {
    width: 32px;
    filter: invert(1);
}

.entry-container {
    display: flex;
    gap: 1rem;
    padding: 5%;
    width: 100vw;
}

.card-image-wrapper {
    display: flex;
    max-height: 300px;
    min-width: 250px;
}

.card-image {
    min-height: 300px;
    max-width: 250px;
    background-position: center;
    object-fit: cover;
    border-radius: 10px;
}

.entry-details {
    flex-grow: 1;
    padding-left: 2.5%;
}

.entry-title {
    font-size: 1.5rem;
    font-weight: 800;
    display: block;
    padding-bottom: 1rem;
    margin: 0;
}

.entry-marker {
    display: flex;
    gap: 0.25rem;
    align-content: center;
    width: 100%;
    flex-wrap: wrap;
}

.entry-location {
    text-transform: uppercase;
    letter-spacing: 0.15rem;
    margin: 0;
    padding: 0;
    font-size: 1rem;
}

.entry-marker a {
    color: grey;
    font-size: 0.75rem;
    margin: 0;
    flex-grow: 1;
    text-align: right;
    flex-shrink: 0;
}

.marker-icon {
    height: 16px;
}

.entry-dates {
    font-weight: 800;
    font-size: 0.75rem;
}

.entry-para {
    font-size: 0.75rem;
    margin: 0;
    padding-top: 0.25rem;
    line-height: 1.25rem;
}

.entry-border {
    margin: 0 5%;
    padding: 0;
    width: auto;
    height: 1px;
    background-color: rgb(205, 205, 205);
}

@media (max-width: 415px) {
    .entry-marker a {
        text-align: left;
    }

    .card-image-wrapper {
        max-height: 200px;
        min-width: 150px;
    }

    .card-image {
        min-height: 200px;
        max-width: 150px;
    }
}
