body {
    margin: 20px;
    /*
    Challenge:
    Find a web safe font you like, and add it 
    to your card.
    */
    font-family: Helvetica, Arial, sans-serif;
    background-color: #5d5d5d;
}

.avatar {
    width: 150px;
    border-radius: 100px;
    border: 1px solid #7f3f18;
}

.card {
    width: 450px;
    margin: 50px auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    background: #7190ff;
    color: #000000;
    border: 1px solid #305dff;
    border-radius: 100px;
    filter: drop-shadow(0px 0px 3px #717171);

    /*
    Challenge:
    Find a color palette you like on Coolors.co
    and use it in your business card.
     */
}

.card:hover {
    background: #92a9ff;
    border: 1px solid #426afb;
}

.card-text {
    margin: auto auto;
}

/*
Stretch goals:
Find other ways you can personalize 
the design of your business card, e.g.:
- change the border(s)
- add border radius
- shuffle the layout
- shadows        🤯
- hover effects  🤯🤯
- animations     🤯🤯🤯
*/

.card.gentle-hover-shake:hover {
    animation: tilt-shaking 0.25s infinite;
}

/* Animation Keyframes */

@keyframes tilt-shaking {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(1deg);
    }
    50% {
        transform: rotate(0eg);
    }
    75% {
        transform: rotate(-1deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes horizontal-shaking {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(1px);
    }
    50% {
        transform: translateX(-1px);
    }
    75% {
        transform: translateX(1px);
    }
    100% {
        transform: translateX(0);
    }
}
