:root {
    --font-small: 1rem;
    --font-med: 1.75rem;
    --font-large: 2.5rem;
    --font-extra: 3.5rem;
    --font-jumbo: 4.5rem;
    --font-light: 300;
    --font-heavy: 900;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Funnel Display', system-ui, -apple-system, BlinkMacSystemFont,
        'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
        'Helvetica Neue', sans-serif;
}

body {
    background: grey;
    color: white;
}

#container {
    position: relative;
    background: white;
    width: 35rem;
    height: 70rem;
    margin: 0 auto;
    overflow: scroll;
}

/* Header */

#header {
    background-image: url('../assets/banner-image.png');
    width: 100%;
    height: 10rem;
    background-repeat: no-repeat;
    background-size: cover;
}

#banner {
    padding: 1rem 2rem 1rem 2rem;
}

#banner-title {
    font-size: var(--font-large);
    font-weight: var(--font-heavy);
}

#banner-detail {
    font-size: var(--font-small);
    font-weight: var(--font-light);
}

/* Menu */

section {
    padding: 1rem 2rem 1rem 2rem;
}

#shopping-list {
    color: black;
}

.shopping-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 3rem 0rem 3rem 0rem;
    border-bottom: 1px solid grey;
}

.item-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin: 0;
    padding-left: 1rem;
    text-align: left;
    flex-grow: 1;
    gap: 1rem;
}

.item-image {
    font-size: var(--font-extra);
    margin: 0;
    padding: 0;
    text-align: left;
}

.item-title {
    font-size: var(--font-med);
    font-weight: var(--font-heavy);
}

.item-ingredients {
    font-size: var(--font-small);
    font-weight: var(--font-light);
}

.item-price {
    font-size: var(--font-med);
    font-weight: var(--font-light);
}

.add-button {
    color: grey;
    background: white;
    font-size: 2rem;
    font-weight: 100;
    margin: 1rem 0rem 1rem 1rem;
    width: 50px;
    height: 50px;
    border: 1px solid grey;
    border-radius: 50px;
}

.add-button:hover,
.add-button:active {
    color: grey;
    background: rgb(218, 218, 218);
}

/* Order Breakdown */

#order-breakdown {
    display: none;
}

#order-wrapper {
    margin: 1rem 2.25rem;
    padding: 1rem;
    background: rgb(229, 229, 229);
    color: black;
}

#breakdown-title {
    margin-bottom: 1rem;
    text-align: center;
}

.line-details {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.line-title {
    font-size: var(--font-small);
    font-weight: var(--font-heavy);
}

.line-price {
    font-weight: var(--font-light);
}

#remove-btn {
    border: 2px solid red;
    background: none;
    padding: 0.1rem 0.2rem;
    border-radius: 2rem;
    color: red;
    line-height: 1rem;
}

#remove-btn:active,
#remove-btn:hover {
    border: 2px solid red;
    background: rgb(255, 195, 195);
}

.complete-btn {
    width: 100%;
    margin: 6rem 0rem auto 0rem;
    padding: 1rem;
    border: none;
    background: rgb(35, 151, 116);
    border-radius: 0.25rem;
    color: white;
    font-size: var(--font-small);
}

.complete-btn:active,
.complete-btn:hover {
    background: rgb(6, 129, 92);
}

/* Total */

#total-price {
    margin-top: 1rem;
    padding-top: 1rem;
    border-top: 1px solid grey;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.line-title {
    flex-grow: 1;
}

.line-price {
    margin-inline: 1rem;
}

.total-title {
    font-size: var(--font-small);
    font-weight: var(--font-heavy);
}

#total-amount {
    font-weight: var(--font-light);
}

/* Payment */

input:focus,
input:active {
    border: 1px solid rgb(73, 182, 149);
    outline: none;
}

#enter-payment {
    position: absolute;
    background: rgba(0, 0, 0, 0.75);
    left: 0;
    bottom: 0;
    right: 0;
}

#payment-form {
    box-sizing: border-box;
    background: rgb(224, 224, 224);
    display: flex;
    flex-direction: column;
    max-width: fit-content;
    max-height: fit-content;
    border-radius: 0.25rem;
    padding: 1rem;
    gap: 1rem;
    margin: 5rem auto;
}

.form-input {
    border: 1px solid rgb(182, 182, 182);
    padding: 0.5rem;
    text-align: center;
    font-size: var(--font-med);
    font-weight: var(--font-light);
    border-radius: 0.25rem;
}

.exit-btn {
    width: 100%;
    padding: 1rem;
    border: none;
    background: rgb(151, 70, 35);
    border-radius: 0.25rem;
    color: white;
    font-size: var(--font-small);
}

.exit-btn:active,
.exit-btn:hover {
    background: rgb(129, 46, 10);
}

.hidden {
    display: none !important;
}

#complete-message {
    background: rgb(169, 209, 197);
    color: rgb(45, 86, 74);
    font-size: var(--font-small);
    font-weight: var(--font-heavy);
    padding: 1rem;
    text-align: center;
    border-radius: 0.25rem;
}
